/HotelManagementSystem/dist/
/HotelManagementSystem/build/
HotelManagementSystem/nbproject/private/private.properties
HotelManagementSystem/nbproject/private/private.xml
/HotelManagementSystem/nbproject/private
/HotelManagementSystem/nbproject/private
